<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ayy.dao.ProfMapper">
    <select id="getProfs" resultType="com.ayy.bean.Prof">
        select * from prof;
    </select>

    <select id="getProf" resultMap="ProfEtu">
        select e.eid eid, e.ename ename, p.pname pname, p.pid pid
        from etu e, prof p
        where e.pid = p.pid and p.pid = #{pid}
    </select>
    <resultMap id="ProfEtu" type="com.ayy.bean.Prof">
        <result property="pid" column="pid"/>
        <result property="pname" column="pname"/>
        <collection property="etus" ofType="com.ayy.bean.Etu">
            <result property="eid" column="eid"/>
            <result property="ename" column="ename"/>
            <result property="pid" column="pid"/>
        </collection>
    </resultMap>

    <select id="getProf2" resultMap="ProfEtu2">
        select * from prof where pid = #{pid};
    </select>
    <resultMap id="ProfEtu2" type="com.ayy.bean.Prof">
        <collection property="etus" javaType="java.util.ArrayList" ofType="com.ayy.bean.Etu" select="getEtu" column="pid"/>
    </resultMap>
    <select id="getEtu" resultType="com.ayy.bean.Etu">
        select * from etu where pid = #{pid}
    </select>
</mapper>