<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Cours1.DI-->
    <bean id="bookDao" class="Cours1.DI.BookDaoImpl"></bean>
    <bean id="bookService" class="Cours1.DI.BookServiceImpl">
        <property name="bookDao" ref="bookDao"></property>
    </bean>
</beans>