<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Index</h1>
<h2 th:text="${msg}"></h2>
<div shiro:notAuthenticated="true">
    <a th:href="@{/toLogin}">Login</a>
</div>
<hr>
<div shiro:hasPermission="user:add">
    <a th:href="@{/user/add}">Add</a>
</div>
<div shiro:hasPermission="user:update">
    <a th:href="@{/user/update}">Update</a>
</div>
</body>
</html>