<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <h1>Login</h1>
    <span th:if="${msg}!= null" th:text="${msg}" style="color: red"></span>
    <form method="post" th:action="@{/login}">
        <label for="uname">Username: </label>
        <input id="uname" name="uname" type="text">
        <label for="pwd">Password: </label>
        <input id="pwd" name="pwd" type="password">
        <input type="submit" value="Login">
    </form>
</div>
</body>
</html>