<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>my</servlet-name>
        <servlet-class>com.ayy.cookies.MyServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>my</servlet-name>
        <url-pattern>/myservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>myGen</servlet-name>
        <servlet-class>com.ayy.cookies.MyGenericServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>myGen</servlet-name>
        <url-pattern>/mygenericservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>myHttp</servlet-name>
        <servlet-class>com.ayy.cookies.MyHttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myHttp</servlet-name>
        <url-pattern>/myhttpservlet</url-pattern>
    </servlet-mapping>
</web-app>